body {
    
    display: grid;
    min-height: 100vh;
    grid-template-areas:
        "header header header header"
        "section section section section";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
    gap: 10px; 
    background-color: #f0f0f0; 
    
   
}

header {
    grid-area: header;
    text-align: left; 
    padding: 10px; 
    color: black; 
    background-color: #f0f0f0; 
}

section {
    grid-area: section;
    text-align: left; 
    padding: 10px; 
    color: black; 
    background-color: #f0f0f0; 
}

#frmByline {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold; 
}

#frmSource {
    display: inline-block;
    font-style: italic; 
}

hr {
    border: none; 
    border-top: 1px solid	#D3D3D3; 
    margin: 10px 0; 
}


.custom-blockquote {
    border-left: 4px solid blue; 
    padding-left: 20px; 
}

.custom-blockquote cite {
    font-style: normal; 
    font-size: x-small;
}


#source-image {
    width: 20px; 
    height: 24px; 
    vertical-align: middle; 
    margin-left: 5px; 
}


@media screen and (max-width: 768px) {
    body {
        grid-template-columns: 100%; 
    }
    
    header, section {
        padding: 5px; 
    }

    .custom-blockquote {
        padding-left: 10px; 
    }
}